<div class="container">
    <div class="row profile">
        <div class="col-md-3">
            <side-bar></side-bar>
        </div>
        <div class="col-md-9">
            <div class="profile-content">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-xs-12">
                        <div class="panel panel-default" ng-click="go('/admin/store')">
                            <div class="panel-body">
                                <img src="http://i.imgur.com/dNCjPjN.png" class="img-circle pull-left widget-icon">
                                <div class="widget-title text-info">8</div>
                                <div class="comment text-info">Stores</div>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-6 col-md-6 col-xs-12">
                        <div class="panel panel-default" ng-click="go('/admin/category')">
                            <div class="panel-body">
                                <img src="http://i.imgur.com/pPxHgR2.png" class="img-circle pull-left widget-icon">

                                <div class="widget-title text-info">5</div>
                                <div class="comment text-info">Categories</div>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-6 col-md-6 col-xs-12">
                        <div class="panel panel-default" ng-click="go('/admin/center')">
                            <div class="panel-body">
                                <img src="http://i.imgur.com/qVdr1Ll.png" class="img-circle pull-left widget-icon">

                                <div class="widget-title text-info">3</div>
                                <div class="comment text-info">Centers</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-xs-12">
                        <div class="panel panel-default" ng-click="go('/admin/offer')">
                            <div class="panel-body">
                                <img src="http://i.imgur.com/Ta8gDEQ.png" class="img-circle pull-left widget-icon">

                                <div class="widget-title text-info">5</div>
                                <div class="comment text-info">Offers</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END OF ROW -->
            </div>
        </div>
    </div>
</div>