<div class="container">
    <div class="row profile">
        <div class="col-md-3">
            <side-bar></side-bar>
        </div>
        <div class="col-md-9">
            <div class="profile-content">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <img src="http://i.imgur.com/qVdr1Ll.png" class="img-circle pull-left widget-icon">

                                <div class="widget-title text-info" ng-bind="centers.length"></div>
                                <div class="comment text-info">Centres</div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- The table with all the centers -->
                <table class="table table-hover table-responsive table-striped">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Location</th>
                        <th>Image</th>
                        <th>Stores</th>
                        <th>Edit</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="center in centers">
                        <td>{{center.name}}</td>
                        <td><span class="location"
                                  ng-click="open(center.name, center.location)">{{center.location}}</span></td>
                        <td><img ng-src="{{center.imagePath}}" class="img-thumbnail"></td>
                        <td></td>
                        <td>
                            <div class="btn-group btn-group-sm" role="group">
                                <button type="button" class="btn btn-primary">Edit</button>
                                <button type="button" class="btn btn-danger">Delete</button>
                            </div>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>

            <div class="profile-content">
                <h1>Create new center</h1>
                <hr>
                <!-- The form for creating a new center -->
                <form role="form">
                    <div class="form-group">
                        <label for="centerName">Center name</label>
                        <input type="text" class="form-control" ng-model="centerName" id="centerName"
                               placeholder="Enter center name">
                    </div>
                    <div class="form-group">
                        <label for="centerLocation">Location</label>
                        <input type="text" class="form-control" ng-model="centerLocation" id="centerLocation"
                               placeholder="Enter location coordinats">
                    </div>
                    <div class="form-group">
                        <label for="centerImage">Center image</label>

                        <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                            <div class="form-control" data-trigger="fileinput"><i
                                    class="glyphicon glyphicon-file fileinput-exists"></i> <span
                                    class="fileinput-filename"></span></div>
                            <span class="input-group-addon btn btn-default btn-file"><span class="fileinput-new">Select file</span><span
                                    class="fileinput-exists">Change</span>
                                <input type="file" file-model="centerImage" id="centerImage"
                                       accept='image/jpeg,image/bmp,image/png'></span>
                            <a href="#" class="input-group-addon btn btn-default fileinput-exists"
                               data-dismiss="fileinput">Remove</a>
                        </div>
                    </div>
                    <button type="submit" ng-click="createCenter()" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>