<div class="container">
    <div class="row profile">
        <div class="col-md-3">
            <side-bar></side-bar>
        </div>
        <div class="col-md-9">
            <div class="profile-content">
                <widget-panel image="http://i.imgur.com/Ta8gDEQ.png" title="{{offers.length}}"
                              comment="Offers"></widget-panel>

                <!-- The table with all the offers -->
                <table ng-show="offers.length > 0"
                       class="table table-hover table-responsive table-condensed table-striped">
                    <thead>
                    <tr>
                        <th>Image</th>
                        <th>Store</th>
                        <th>Description</th>
                        <th>Discount</th>
                        <!--<th>Created</th>-->
                        <!--<th>Expiration</th>-->
                        <th>Category</th>
                        <th>Edit</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="offer in offers">
                        <td class="col-md-2 col-xs-2">
                            <a ng-href="#/admin/offers/{{offer._id}}">
                            <img ng-src="{{offer.imagePath}}" class="img-thumbnail img-circle widget-icon">
                            </a>
                        </td>
                        <td class="col-md-2">{{offer._store.name}}</td>
                        <td class="col-md-4">{{offer.description}}</td>
                        <td class="col-md-1">{{offer.discount}}</td>
                        <!--<td>{{offer.created | date: 'EEE. d. MMM. yyyy'}}</td>-->
                        <!--<td>{{offer.expiration | date: 'EEE. d. MMM. yyyy'}}</td>-->
                        <td class="col-md-1">{{offer._category.name}}</td>
                        <td class="col-md-2">
                            <div class="btn-group btn-group-sm" role="group">
                                <button type="button" class="btn btn-primary">Edit</button>
                                <button type="button" class="btn btn-danger" ng-click="">Delete</button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>


            </div>
        </div>
    </div>
</div>