<div class="container">
    <div class="row profile">
        <div class="col-md-3">
            <side-bar></side-bar>
        </div>
        <div class="col-md-9">
            <div class="profile-content">
                <!-- The widget in top -->
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <img src="http://i.imgur.com/dNCjPjN.png" class="img-circle pull-left widget-icon">

                                <div class="widget-title text-info" ng-bind="stores.length"></div>
                                <div class="comment text-info">Stores</div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- The table with all the stores -->
                <table ng-show="stores.length > 0"
                       class="table table-hover table-responsive table-condensed table-striped">
                    <thead>
                    <tr>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Center</th>
                        <th>Edit</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="store in stores">
                        <td class="col-md-2 col-xs-2">
                            <img ng-src="{{store.imagePath}}" class="img-thumbnail img-circle widget-icon">
                        </td>
                        <td>{{store.name}}</td>
                        <td>{{store._center.name}}</td>
                        <td class="col-md-2 col-xs-2">
                            <div class="btn-group btn-group-sm" role="group">
                                <button type="button" class="btn btn-primary">Edit</button>
                                <button type="button" class="btn btn-danger" ng-click="">
                                    Delete
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>